    <!-- Start Preloader -->
      <div id="preloader">
         <div class="preload-content">
            <div id="dream-load"></div>
         </div>
      </div>
      <!-- End Preloader -->
       
       
      <!-- Login Page Header Area Start -->
      <div class="error-page-header-area">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-4 col-sm-4">
                  <div class="error-page-logo">
                     <a href="index.html">
                     <img src="assets/img/logo.png" alt="Site Logo" />
                     </a>
                  </div>
               </div>
               <div class="col-md-8 col-sm-8">
                  <div class="error-page-logo-right">
                     <a href="index.html" class="theme-btn">back to home <span class="fa fa-chevron-right"></span></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Login Page Header Area End -->
       
       
      <!-- Error Page Area Start -->
      <div class="error-page-area">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="error-page-box">
                     <h2 class="error_bg">Oops!</h2>
                     <h4>404 - page not found</h4>
                     <p>The page you are looking for might have been remmoved had its name changed or is temporarily unavailable</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Error Page Area End -->